<div>
<%= form_for :container, :url => menu_container_index_path do |c| %>
	<table>
		<tr><td><%= c.label :Name %></td><td><%= c.text_field :name  %></td></tr>
		<tr><td><%= c.label :Description %></td><td><%= c.text_field :description  %></td></tr>
		<tr><td><%= c.label :Position %></td><td><%= c.text_field :position  %></td></tr>
		<tr><td></td><td> <%= c.submit :Submit  %></td></tr>
	<table>
<% end %>
</div>

