<% form_for:menu_group, :url => menu_group_path, :html => { :method => :put }  do |d|  %>
<table>
	<tr><td> <%= d.label :Menu_Group %></td><td><%= d.text_field :name %></td></tr>
	<tr><td></td><td><%= d.submit :Submit %></td></tr>
</table>
<% end %>
