<%= form_for :menu_group, :url => menu_groups_path, :html => { :method => :post } do |c| %>
	<table class='table_border'>
		<tr><td></td><td></td></tr>
		<tr><td><%= c.label :Name %></td><td><%= c.text_field :name  %></td></tr>
		<tr><td><%= c.label :Description %></td><td><%= c.text_field :description  %></td></tr>
		<tr><td></td><td> <%= c.submit :Submit  %></td></tr>
	<table>
<% end %>
