<div>
	<table>
		<tr>
		
			<td> <%= link_to "New_Module", new_menu_module_path, :remote => true, :id=>"new_menu_module" %> </td>
		</tr>
		<% @modulecontexts.each do |mc| %>
		<tr id="institutions_">
			<td> <%= mc.name %> </td><td> <%= link_to "Edit", edit_menu_module_path(mc), :method => "GET" %> </td><td> <%= link_to "Delete", menu_module_path(mc), :method => "DELETE" %> </td>
		</tr>
		<% end %>
	</table>
</div>

