<% field_for :personnel_details do |pd| %>
<table>
	<tr><td>Addr Line</td><td><%= pd.name  %></td><td>Addr Line</td><td><%= pd.name  %></td></tr>
	<tr><td>Addr Line</td><td><%= pd.name  %></td><td>Addr Line</td><td><%= pd.name  %></td></tr>
</table>
<% end %>
